
<div class="d-flex">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card info-box-2">
            <div class="body">
                <div class="icon d-flex">
                    <div class="chart-pie"><span class="pie"> </span><canvas style="display: inline-block; width: 50px; height: 50px; vertical-align: top;" width="50" height="50"></canvas></div>
                    <div class="content">
                            <div class="text">Total Requirements<br>420</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card info-box-2">
                <div class="body">
                    <div class="icon d-flex">
                        <div class="chart-bar"><span class="bar"></span><canvas style="display: inline-block; width: 50px; height: 50px; vertical-align: top;" width="50" height="50"></canvas></div>
                        <div class="content">
                                <div class="text">Stories in Build<br>285</div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card info-box-2">
                    <div class="body">
                        <div class="icon d-flex">
                            <div class="chart-line"><span class="line"> </span><canvas style="display: inline-block; width: 50px; height: 50px; vertical-align: top;" width="50" height="50"></canvas></div>
                            <div class="content">
                                    <div class="text">Stories in Testing<br>252</div>
                                </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card info-box-2">
                        <div class="body">
                            <div class="icon d-flex">
                                <div class="chart-bar"><span id="bar"> </span><canvas style="display: inline-block; width: 50px; height: 50px; vertical-align: top;" width="50" height="50"></canvas></div>
                                <div class="content">
                                        <div class="text">Stories Released<br>225</div>
                                    </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>



